<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site EloBoosting</title>
    <link rel="stylesheet" type="text/css" href="/css/base.css">
</head>
<body>
    <nav class="navbar">
        <a href="#" class="logo">League-Boosting</a>
        <ul class="nav-links">
          <li><a href="/connexion">S'identifier</a></li>
          <li><a href="/inscription">S'enregistrer</a></li>
          <li><a href="#">À propos</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <div class="hamburger-menu">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
      </nav>
<header>
</header>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<main>
    <h1>
          League-boosting
    </h1>
    <br>
    <br>
    <br>
    <br>
    <h2> 
          Bienvenue sur KingBoosting 
    </h2>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h3>
          Le booster va se connecter et jouer sur votre compte jusqu'à atteindre le rank désiré
    </h3>
</main>
<br>
<br>


    <h2>Test de l'algo</h2>
    <ul>
        <% for (let i = 0; i<produits.length; i++) {%>
        <li>
            <h4><%=produits[i].item_name%></h4>
            <p><%=produits[i].price%>€</p>
            <form action="/panier" method="post">
                <input type="hidden" name="idProduits" value="<%=produits[i].id%>"/>
                <input type="submit" value="Ajouter au panier"/>
            </form>
        </li>
        <% } %>
    </ul>






<br>
<br>
<br>
<br>
<br>
<br>
<br>
<aside>
    <img src="/img/bronze4.png" alt="LevelUp">
    <img src="/img/fleche.png" alt="LevelUp">
    <img src="/img/diamant4.png" alt="LevelUp">
</aside>
<br>
<br>
<br>
<br>
<main>
    <a class="button" href="/boosformulaire">GO BOOST</a>
</main>
</body>
</html>