/* Police d'écriture */
.container {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 220px;
    margin: 0 auto;
    background-color: #e02a2a;
    opacity: 0.8;
    padding: 40px;
  }
  
  .item {
    display: flex;
    width: 600px;
    height: 100px;
    background-color: #65d43a;
    margin: 8px;
    padding: 10px;
    font-size: 24px;
    color: #fff;
  }