/* Police d'écriture */

  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("/Image/Twitch_8.jpg");
    background-size: cover;
    background-attachment: fixed;
  }

   main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

   header {
    display: flex;
  }

   footer {
    display: flex;
  }


  .Logo img {
    width: 300px;
  }

  h1 {
    font-size: 48px;
    font-family: Trebuchet MS, sans-serif;
    color: #e7ab1e;
    text-shadow: 2px 2px 2px #000;
  }

  .top-bar {
    width: 100%;
    height: 30px;
    background-color: #25dae7ae;
    position: fixed;
    top: 0;
    left: 0;
  }
  
  .login-link {
    color: #ffffff;
    text-decoration: none;
    font-weight: Consolas;
    font-size: 20px;
    margin-top: 5px;
    margin-right: 20px;
    float: right;
  }
  
  .register-link {
    color: #ffffff;
    text-decoration: none;
    font-weight: Consolas;
    font-size: 20px;
    margin-top: 5px;
    margin-right: 20px;
    float: right;
  }

  .BasPage {
    background-color: #000000;
    color: #fff;
    width: 100%;
    height: 40px;
  }
  
  .TextBaxPage {
    margin-left: 50px;
    padding: 30px;
  }


h2 {
    font-size: 21px;
    font-family: poppins, sans-serif;
    color: #ffffff;
  }
