/* Police d'écriture */

  body {
    background: linear-gradient(90deg,#0c6fc0,#0ed9f8);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
  }

   main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

   header {
    display: flex;
    flex-wrap: wrap;
  }

  footer > ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  aside {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  aside img {
    width: 15%;
    max-width: 450px;
    max-height: 200px;
    margin: 60px;
  }

  .Logo img {
    width: 300px;
    cursor: pointer;
  }



  h1 {
    font-size: 48px;
    font-family: Trebuchet MS, sans-serif;
    color: #e7ab1e;
    text-shadow: 2px 2px 2px #000;
    margin-top: -20px;
  }

  .top-bar {
    display: flex;
    width: 100%;
    height: 30px;
    background-color: #25dae7;
  }

  nav > .top-bar{
    justify-content: right;
  
  }
  
  .login-link {
    color: #ffffff;
    text-decoration: none;
    font-weight: Consolas;
    font-size: 20px;
    margin-top: 5px;
    margin-right: 20px;
  }
  
  .register-link {
    color: #ffffff;
    text-decoration: none;
    font-weight: Consolas;
    font-size: 20px;
    margin-top: 5px;
    margin-right: 20px;

  }

h2 {
    font-size: 21px;
    font-family: poppins, sans-serif;
    color: #ffffff;
  }

h3 {
    font-size: 21px;
    font-family: poppins, sans-serif;
    color: #ffffff;
  }

footer {
  width: 100%;
  height: 50px;
  background-color: black;
  display: flex;
  flex-direction: column;
}

.TexteBasPage {
  margin: 0;
  padding: 0;
  flex-grow: 1;
}



.button {
  position: relative;
  background: #444;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  padding: 1rem 3rem;
  transition: 0.2s;
}

.button:hover {
  letter-spacing: 0.2rem;
  padding: 1.1rem 3.1rem;
  background: var(--clr);
  color: var(--clr);
  /* box-shadow: 0 0 35px var(--clr); */
  animation: box 3s infinite;
}

.button::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #272822;
}

.button span {
  position: relative;
  z-index: 1;
}
.button i {
  position: absolute;
  inset: 0;
  display: block;
}

.button i::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 80%;
  top: -2px;
  border: 2px solid var(--clr);
  background: #272822;
  transition: 0.2s;
}

.button:hover i::before {
  width: 15px;
  left: 20%;
  animation: move 3s infinite;
}

.button i::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 20%;
  bottom: -2px;
  border: 2px solid var(--clr);
  background: #272822;
  transition: 0.2s;
}

.button:hover i::after {
  width: 15px;
  left: 80%;
  animation: move 3s infinite;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes box {
  0% {
    box-shadow: #27272c;
  }
  50% {
    box-shadow: 0 0 25px var(--clr);
  }
  100% {
    box-shadow: #27272c;
  }
}
