/*Visuel du block de connexion*/

* {
    margin: 0;
    padding: 0;
}

/*Visuel du fond d'écran*/

body {
    background: linear-gradient(90deg,#0c6fc0,#0ed9f8);
    height: 100vh;
    
}

main  {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}
/*Le container en position relative pour faire en sorte que les modifications que stylistiques que l'on va faire 
(comme des ombres) se fassent par rapport au container et pas au body. */

 .container {
    position: relative;

 }

/*Le carré autour du container*/

 form {
    background: rgba(255, 255, 255, 0.3);
    padding: 4rem;
    height: 400px;
    border-radius: 20px;
    border-left: 2px solid rgba(255, 255, 255, 0.3); /*Effet qui rajoute de la profondeur au cadre*/
    border-top: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: 10px 10px 50px -12px rgba(0, 0, 0, 0.6);
    text-align: center;
}

/* On va modifier ici la balise p qui correspondra à la forme du texte*/

p {
    color: white;
    font-weight: 600;
    opacity: 0.8;
    font-size: 1.6rem;
    margin-bottom: 40px;
}

/*On va modifier la balise a qui correspond à la balise a (donc les hyperlien)*/

a {
    font-size: 14px;
    text-decoration: none;
    color: rgb(0, 30, 255);
    transition: all .3s;
}

/* Sert à faire une action quand on passe la souris sur le lien (ici on met de l'ombre)*/

a:hover {
    text-shadow: 2px 2px 6px rgb(0, 0, 0, 0.4);
}

/* Sert à configurer les input (donc les "passworld' et "login" */

input {
    padding: 1rem;
    border: none;
    background: rgba(255, 255, 255, 0.201);
    width: 300px;
    border-radius: 20px;
    color: white;
    margin-bottom: 20px;
}

/* Sert à configurer les champs de formulaires*/

::placeholder {
    color: white;

}

/* Sert à configurer une action lorsque que la souris passe devant les champs de formulaires*/

input:hover,
input[type="email"]:focus,
input[type="passworld"]:focus {
    background: rgba(0, 0, 0, 0.091)
}

/* Sert à configurer le changement de visuel de la souris lorsqu'elle pas devant le bouton connexion */

input[type="button"] {
    cursor: pointer;
    margin-bottom: 30px;
    font-size: 1rem;
    width: 140px;
}

.Logo img {
    width: 300px;
    cursor: pointer;
  }

  header {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }